// Simple Alert
.alert {
  margin: 0.5rem;
  padding: 1rem 1.5rem;
}

.alert-close {
  display: flex;
  justify-content: space-between;
}

.alert-btn-close {
  display: inline-block;
  text-decoration: none;
  cursor: pointer; // css isnt working

  &:click {
    transform: scale(0);
  }
}

// https://css-tricks.com/html5-progress-element/
